* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: lightblue;
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    font-size: 0.8em;
}

nav ul li a:hover {
    color: lightcyan;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: lightblue;
    text-decoration: none;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: lightcyan;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Responsive Breakpoint */
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: blueviolet;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}