* {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    /* align-items: start; */
    /* align-items: end; */
    align-items: center;
    /* align-items: stretch; */
  }

  .items {
    border: 3px solid black;
    width: 150px;
    background-color: lightblue;
  }

  .items.i1,
  .items.i4,
  .items.i7 {
    height: 100px;
  }

  .items.i2,
  .items.i5,
  .items.i8 {
    height: 50px;
  }

  .items.i3,
  .items.i6,
  .items.i9 {
    height: 80px;
  }