/* Animation
    [name] [duration] [timing-function]
    [delay] [interation-count] [direction]
    [fill-mode] [play-state]
*/

.kotak {
    width: 200px;
    height: 200px;
    background-color: salmon;
    animation: animasiKotak 3s ease infinite forwards;

}

/* From & To / 0% - 100% */
@keyframes animasiKotak {
    0% {
        width: 200px;
    }

    50% {
        width: 500px;
        height: 200px;
    }

    100% {
        width: 500px;
        height: 500px;
    }
}