div {
    width: 400px;
    height: 300px;
    margin: 50px auto;
    background-color: #c24e65;
    border-radius: 20px;
}

.kiri-atas {
    width: 86px;
    height: 64px;
    display: inline-block;
    /* background-image: url(./img/kiri-atas.png); */
}